<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Is the personal data I enter into Updates stored and managed securly?</string>
		<string>Absolutely! When you tell Updates that you entered personal data when browsing to your page, everything you sent is encrypted using the password you specify. There&apos;s no way to decrypt your data without that password, and if you choose to save your password, it&apos;s stored securly in the iOS Keychain and is available only to Updates and only when your device is unlocked, so you don&apos;t have to worry!</string>
	</array>
	<array>
		<string>How to I delete an Update when I&apos;m finished with it?</string>
		<string>Just swipe the Update to the side on the main screen, and you&apos;ll see a Delete button, similarily to many iOS apps. Just tap that button and you&apos;ll be good to go.</string>
	</array>
	<array>
		<string>Updates isn&apos;t working well for me. What can I do?</string>
		<string>I&apos;m really sorry to hear that—like you may have read when you first opened this app, it&apos;s hard to get it working perfectly for every site. Just let us know what&apos;s not working (the Contact button on the previous page can help with that), and we&apos;ll do our best to make sure it&apos;s fixed in the future.\n\nThanks for your help!</string>
	</array>
	<array>
		<string>Updates is working fantastically, and I don&apos;t need any help!</string>
		<string>While this isn&apos;t strictly a &quot;help&quot; topic, if Updates is working well for you and has helped make your day a bit more efficient, then please consider leaving Updates a rating on the App Store—it helps other people find the app, and it helps us keep it updated and working, too!</string>
	</array>
	<array>
		<string>What does the upgraded version of the app do, and how do I get it?</string>
		<string>Update&apos;s upgrade system is incredibly simple, actually: by paying one dollar, you can have as many Updates as you want (rather than just three) on any of the devices on your account.\n\nYou&apos;ll have the option of upgrading whenever you try to add too many updates to the standard version.\n\nUpgrading Updates really helps out its development, so thank you in advance!</string>
	</array>
</array>
</plist>
